[easyrsa]
path = "./easyrsa"
pki_path = "/etc/openvpn/server"

[logging]
level = "info"

[http]
port = "3000"

[openvpn]
support = true
server = "[openvpn server name]"
port = "1194"
network = "192.168.0.0 255.255.255.0"
