[easyrsa]
path = "./easyrsa"
pki_path = "/etc/openvpn/server"
package = "https://github.com/OpenVPN/easy-rsa/releases/download/v3.2.1/EasyRSA-3.2.1.tgz"

[logging]
level = "info"

[http]
port = "3000"
#host = "localhost"

[openvpn]
support = true
client_config = "client.conf"
