{{ define "web/template/index.html" -}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>easyrsa-web-ui</title>
    <link href="./static/main.css" rel="stylesheet">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var i = document.getElementById("openbutton")
            i.addEventListener('click', () => document.getElementById("entry-bg").style.display = 'block')
            var i = document.getElementById("closebutton")
            i.addEventListener('click', () => document.getElementById("entry-bg").style.display = 'none')
            var i = document.getElementById("display_toggle")
            i.addEventListener('click', () => {
                var elem = document.getElementById("display_toggle")
                const tr = document.querySelectorAll('.inactive')
                for (const i of tr) {
                    if (elem.checked) {
                        i.style.display = 'table-row'
                    } else {
                        i.style.display = 'none'
                    }
                }
            })
            loadBody()
        });
        function do_create() {
            var form = new FormData()
            var elem = document.querySelector("input[name=newname]")
            form.append('name', elem.value)
            fetch(`./user/create`, {
                method: "POST",
                body: form,
            }).then((res) => {
                if (res.ok) {
                    document.getElementById("entry-bg").style.display = 'none'
                    loadBody()
                }
            })
        }
        function do_revoke(item) {
            if (confirm(`${item.target.name} を無効化して良いですか`)) {
                fetch(`./user/${item.target.name}/revoke`, {method: "POST"})
                .then((res) => {
                    if (res.ok) {
                        loadBody()
                    }
                })
            }
        }
        function do_unrevoke(item) {
            if (confirm(`${item.target.name} を有効に戻して良いですか`)) {
                fetch(`./user/${item.target.name}/unrevoke`, {method: "POST"})
                .then((res) => {
                    if (res.ok) {
                        loadBody()
                    }
                })
            }
        }
        function do_renew(item) {
            if (confirm(`${item.target.name} を更新して良いですか`)) {
                fetch(`./user/${item.target.name}/renew`, {method: "POST"})
                .then((res) => {
                    if (res.ok) {
                        loadBody()
                    }
                })
            }
        }
        function dateFormat(src) {
            const w = new Date(src)
            if (w.getFullYear() == 1) {
                return '-'
            }
            return w.getFullYear() + '/'
                + ('0' + (w.getMonth()+1)).slice(-2) + '/'
                + ('0' + w.getDate()).slice(-2)
        }
        function loadBody() {
            var elem = document.getElementById("display_toggle")
            fetch("./user/list", {method: "GET"})
            .then(response => response.json())
            .then(body => {
                var tbody = document.querySelector('table#maintable tbody')
                if (!tbody) return
                tbody.innerHTML = ''
                for (item of body) {
                    var tr = document.createElement('tr')
                    tr.appendChild(Object.assign(document.createElement('td'), {innerHTML: item.Status }))
                    tr.appendChild(Object.assign(document.createElement('td'), {innerHTML: item.Identity }))
                    tr.appendChild(Object.assign(document.createElement('td'), {innerHTML: dateFormat(item.ExpireDate) }))
                    tr.appendChild(Object.assign(document.createElement('td'), {innerHTML: dateFormat(item.RevokeDate) }))

                    if (item.Status == 'Active') {
                        var td = document.createElement('td')
                        td.appendChild(Object.assign(document.createElement('a'), {
                            href: './user/' + item.Identity + '/p12',
                            innerHTML: `<button>.p12</button>`,
                        }))

                        td.appendChild(Object.assign(document.createElement('a'), {
                            href: './user/' + item.Identity + '/ovpn',
                            innerHTML: `<button>.ovpn</button>`,
                        }))
                        tr.appendChild(td)

                        td = document.createElement('td')
                        td.appendChild(Object.assign(document.createElement('button'), {
                            name: item.Identity,
                            onclick: do_revoke,
                            innerHTML: '無効化',
                        }))

                        if (item.EnableRenew) {
                            td.appendChild(Object.assign(document.createElement('button'), {
                                name: item.Identity,
                                onclick: do_renew,
                                innerHTML: '更新',
                            }))
                        }
                        tr.appendChild(td)
                    } else {
                        var td = document.createElement('td')
                        tr.appendChild(td)
                        td = document.createElement('td')
                        if (item.EnableUnrevoke) {
                            td.appendChild(Object.assign(document.createElement('button'), {
                                name: item.Serial,
                                onclick: do_unrevoke,
                                innerHTML: '有効化',
                            }))
                        }
                        tr.setAttribute('class', 'inactive')
                        if (elem.checked) {
                            tr.style.display = 'table-row'
                        }
                        tr.appendChild(td)
                    }

                    tbody.appendChild(tr)
                }
            })
        }
    </script>
</head>

<body>
    <div class="top">
        <button id="openbutton">新規作成</button>
        <div class="top-right">
            <label><input type="checkbox" id="display_toggle" />無効キー表示</label>
        </div>
    </div>
    <table id="maintable">
        <thead>
            <tr>
                <th>ステータス</th>
                <th>名称</th>
                <th>有効期限</th>
                <th>無効化日時</th>
                <th>鍵</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="entry-bg">
        <div id="entry-box">
            <input type="text" name="newname" />
            <button onclick="do_create()">作成</button>
            <button id="closebutton">閉じる</button>
        </div>
    </div>
</body>

</html>
{{- end }}